<main class="max-w-screen-lg mx-auto mt-10 my-12 px-4 md:px-12 relative pb-6 pt-4">
    <%= form_with url: artists_path, method: :get, local: true do |form| %>
    <%= form.text_field :search %>
    <%= form.submit 'アーティスト名検索', name: nil %>
    <% end %>

    <h2>選択されたアーティスト</h2>
    <div class="flex flex-wrap -mx-1 lg:-mx-4" id="my_list">
        <%= render partial: "artists/added_artist", collection: session[:my_artists_list], as: "artist"%>
    </div>

    <h2>検索結果</h2>
    <% if @searchartists.present? %>
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <%= render partial: "artists/artist", collection: @searchartists, as: "artist"%>
    </div>
    <div class="text-center">
        <%= paginate @searchartists %>
    </div>
    <% end %>
</main>