<main class="max-w-screen-lg mx-auto px-4 md:px-12 relative pb-6 pt-4">
    <div class="iamge mb-5">
        <%= image_tag "https://my-fav-artists.s3.amazonaws.com/uploads/my_list/image/26/mini_magick20210715-30194-1t8wdcc.jpeg" %>
    </div>
    <h2 class="text-xl text-center font-semibold">好きなアーティストを5組選びましょう！</h2>
    <div class="search_form my-2">
        <%= form_with url: artists_path, method: :get, local: true do |form| %>
        <div class="text-center mb-3">
            <%= form.text_field :search ,size:25 ,placeholder: "吉幾三",class:"p-1 border-2 border-gray-400 mt-3 mb-5", id:"search_form"%>
            <br>
            <%= form.button 'アーティスト名検索', name: nil,class:"px-4 py-3 border-1 rounded-md bg-gray-200 text-white", type: 'button', onclick: 'submit();', id: "search_btn" %>
        </div>
        <% end %>
    </div>

    <div class="border-2 rounded-md  p-5 mb-5">
        <div class="flex flex-wrap -mx-1 lg:-mx-4" id="my_list">
            <%= render partial: "artists/added_artist", collection: session[:my_artists_list], as: "artist"%>
        </div>

        <%= form_with url: render_image_favorite_artists_path, method: :post, local: true do |form| %>
        <br>
        <div class="text-center">
            <%= form.text_field :name ,size:25, placeholder: "ニックネーム（10文字以内）",class:"p-1 border-2 border-gray-400 mt-3"%>
            <br>
            <%= form.button 'オリジナル画像を作成する', name: nil,class:"px-4 py-3 border-1 rounded-md bg-green-400 text-white mt-5", type: 'button', onclick: 'submit();' %>
        </div>
        <% end %>
    </div>
    <% if @searchartists.present? %>
    <h2 class="text-xl text-center font-semibold">+を押してアーティストを追加してください</h2>
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <%= render partial: "artists/artist", collection: @searchartists, as: "artist"%>
    </div>
    <div class="text-center">
        <%= paginate @searchartists %>
    </div>
    <% end %>
</main>

<%= javascript_pack_tag 'seach_btn_check' %>