<!DOCTYPE html>
<html>

<head>
  <!-- ogp -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Buffalo_G_7777" />
  <meta property="og:title" content="<%= page_title %>" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:description"
    content="<%= page_title %>" />
  <meta property="og:image"
    content="<%= content_for?(:image_url) ? yield(:image_url) : 'https://my-fav-artists.s3.amazonaws.com/uploads/my_list/image/20/mini_magick20210711-4-1n653t9.jpeg' %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22>🎵</text></svg>">


  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
</head>

<body class="bg-gray-50">
  <div id="flash">
    <%= render 'shared/flash' %>
  </div>
  <%= yield %>
</body>

</html>